@model Website_Selling_Computer.Models.ProductDetail
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div class="row">
    <hr />
    <div class="col-md-6">
        <h4>ProductDetail</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CPU)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CPU)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RAM)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RAM)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Storage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Storage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Display)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Display)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GraphicsCard)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GraphicsCard)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OperatingSystem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryLife)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryLife)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Warranty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Warranty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="@Model.Product.MainImageUrl" alt="Product Image" class="img-fluid" width="250px" />
    </div>
    <div class="mt-4 image-container">
        <div class="scroll-wrapper">
            @if (Model.Product.ProductImages != null)
            {
                @foreach (var item in Model.Product.ProductImages)
                {
                    @if (Model.ProductID == item.ProductID)
                    {
                        
                            <img src="@item.ImageUrl" alt="Product Image" class="img-fluid" />
                        
                    }

                }
            }
        </div>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-controller="Home" asp-action="Index" asp-route-area="">Back to List</a>
    </div>
}
