@model IEnumerable<Website_Selling_Computer.Models.Product>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@using Website_Selling_Computer.Models;
@using Website_Selling_Computer.DataAccess;

@{
    ViewData["Title"] = "Index"; Layout = "_Layout";
}
<h1>Danh sách sản phẩm</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form id="searchForm" method="get" asp-controller="Products" asp-action="SearchByName" asp-route-data="name">
    <input type="text" id="searchBox" name="name" placeholder="Nhập tên sản phẩm...">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            
            <th>
                Quantity in stock
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <span>@item.Price.ToString("#,##0") Vnđ</span>
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.MainImageUrl)" width="250px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.Description)
            </td>
            <td>
                    <img src="@item.Manufacturer.ManufacturerImage" width="69px" />
            </td>
            <td>
                    @foreach(var quantity in item.Inventories)
                    {
                        if(item.ProductID==quantity.ProductID)
                        {
                            <span>@quantity.QuantityInStock</span>
                        }
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
