@model IEnumerable<Website_Selling_Computer.Models.Product>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@using Website_Selling_Computer.Models
@using Website_Selling_Computer.DataAccess
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Index"; Layout = "_Layout";
}
<h1>Danh sách sản phẩm</h1>


<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>SP</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Danh mục</th>
            <th>Nhà cung cấp</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@item.MainImageUrl"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@item.ProductID</p>
                            <p class="text-muted mb-0">@item.ProductName</p>
                        </div>
                    </div>
                </td>
                
                <td>
                    <p class="fw-normal mb-1">@item.Description</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">@item.Price</p>
                </td>
                <td>@item.ProductCategory.Description</td>
                <td>@item.Manufacturer.ManufacturerName</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded" asp-action="Details" asp-route-id="@item.ProductID">
                        Chi tiết
                    </button>
                    <button type="button" class="btn btn-link btn-sm btn-rounded" asp-action="Delete" asp-route-id="@item.ProductID">
                        Xóa
                    </button>
                    <button type="button" class="btn btn-link btn-sm btn-rounded" asp-action="Edit" asp-route-id="@item.ProductID">
                        Sửa
                    </button>
                </td>
            </tr>
            }
        
        
    </tbody>
</table>

@* <p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            
            <th>
                Quantity in stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <span>@item.Price.ToString("#,##0") Vnđ</span>
            </td>
            <td>
                    <img src="@item.MainImageUrl" width="250px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.Description)
            </td>
            <td>
                    @if(item.ManufacturerID == item.Manufacturer.ManufacturerID)
                    {
                        <img src="@item.Manufacturer.ManufacturerImage" alt="ManufacturerImage" width="69px"/>
                    }
            </td>
            <td>
                    @foreach(var quantity in item.Inventories)
                    {
                        if(item.ProductID==quantity.ProductID)
                        {
                            <span>@quantity.QuantityInStock</span>
                        }
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@