@model IEnumerable<Website_Selling_Computer.Models.Order>

@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index"; Layout = "_Layout";
}


<table class="table">
    <thead>
        <tr>
            <th>
                ID Đơn hàng
            </th>
            <th>
                Email
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Tổng số tiền
            </th>
            <th>
                Địa chỉ giao hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <span>@item.OrderDate.ToString("dd/MM/yyyy")</span>

                </td>
                <td>
                    <span>@item.TotalAmount.ToString("#,##0") Vnđ</span>
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                </td>
               
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderID">Chi tiết dơn hàng</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


