@model Website_Selling_Computer.Models.ProductDetail
<link rel="stylesheet" href="~/css/layout.css">
@{
    ViewData["Title"] = "ProductsDetailView";
}

<section class="ProductDetailView">
    <main role="main">
        <div class="container">
            <div class="ProductDetailView py-3 px-3 my-3">
                <div class="row">
                    <div class="col-md-4 py-1 px-2 ">
                        <h2><strong>Chi tiết sản phẩm</strong></h2>
                    </div>
                    <hr />
                </div>
                <div class="row">
                    <div class="card mb-3" style="max-width:auto;">
                        <div class="row">
                            <div class="col-md-4 py-3">
                                <img src="@Model.Product.MainImageUrl"
                                     class="img-fluid rounded-start" alt="Product Image" class="img-fluid">
                            </div>
                            <div class="col-md-8 py-3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <h4><strong class="ms-3 py-2">@Html.DisplayFor(model => model.Product.ProductName)</strong></h4><br>
                                        <dl class="row">
                                            <dt class="col-3 ms-3">
                                                CPU
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.CPU)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                RAM
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.RAM)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                Bộ nhớ
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.Storage)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                Màn hình
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.Display)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                Card Màn hình
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.GraphicsCard)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                Hệ điều hành
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.OperatingSystem)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                PIN
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.BatteryLife)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                Cân nặng
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.Weight)
                                            </dd>
                                            <dt class="col-3 ms-3">
                                                Bảo hành
                                            </dt>
                                            <dd class="col-8">
                                                @Html.DisplayFor(model => model.Warranty)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

            </div>
            <!--  -->
            <!-- ================================================================================== -->
            <!-- ================================================================================== -->
            <div class="row py-1">
                <div class="col-md-12">
                    <div class="mdi-card-account-details py-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">Chi tiết sản phẩm</h5>

                                <article id="description">
                                    <div class="article_content short_view">

                                        <!-- Tiêu đề -->
                                        <p>
                                            <span style="font-size:16px;">
                                                <strong>
                                                    Dell Precision 5530- trải nghiệm
                                                    đầy mới mẻ
                                                    từ những ấp ủ và bứt phá của Dell
                                                </strong>
                                            </span>
                                        </p>

                                        <p>
                                            <span style="font-size:14px;">
                                                Được tinh lọc từ các thế hệ trước, Dell
                                                Precision
                                                5530 đã được nâng cấp cấu hình đáng kể từ bộ vi xử lý đến hệ thống
                                                tản nhiệt
                                                nhưng ngoại hình vẫn chưa có gì thay đổi so với thế hệ trước là Dell
                                                Precision 5520.&nbsp;
                                            </span>
                                        </p>

                                        <!-- Mô tả thiết kế -->
                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Thiết
                                                    kế nhỏ
                                                    gọn và sang trọng&nbsp;
                                                </strong><br>
                                                Vẫn là thiết kế của dòng Dell XPS với tông màu trắng bạc chủ đạo,
                                                Dell
                                                Precision 5530 được cấu thành từ nhôm cao cấp có độ bền bỉ cao, có
                                                khả năng
                                                chịu được các điều kiện khắc nghiệt.&nbsp;Máy trạm di động Precision
                                                đã được
                                                thử nghiệm MIL-STD 810G, đảm bảo độ bền và độ tin cậy cho bạn để đáp
                                                ứng hầu
                                                hết công việc ở những địa điểm và môi trường khác nhau. Điều đó có
                                                nghĩa là
                                                nó có thể được vận hành trong môi trường cực kỳ nóng và lạnh (thấp
                                                đến âm
                                                20,2 độ F đến cao tới 140 độ), sống sót sau những cú sốc,...
                                            </span>
                                        </p>
                                        <!-- Phiên bản -->
                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Hiện đã có 2
                                                phiên bản
                                                Platinum Silver và Brushed Onyx, thiết kế nhỏ gọn, đẹp mắt phù hợp
                                                với màn
                                                hình 15,6 inch cùng bộ khung 14 inch&nbsp;dưới nắp nhôm gia công của
                                                nó đặt
                                                một thân bằng sợi carbon sang trọng hoàn chỉnh với sàn cảm ứng mềm
                                                mại, hoa
                                                văn tạo cảm giác tuyệt vời trên cổ tay của bạn khi bạn
                                                gõ.&nbsp;
                                            </span>
                                        </p>
                                        <!-- Hình ảnh 1 -->
                                        <div style="text-align: justify;">
                                            <p style="text-align:center">
                                                <img alt="" height="600"
                                                     src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093013579.png"
                                                     width="800" class=" lazyloaded"
                                                     data-src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093013579.png">
                                            </p>
                                        </div>

                                        <!-- Màn hình -->
                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Dell tuyên bố
                                                rằng đây
                                                là máy trạm 15,6 inch kích thước nhỏ nhất mà họ từng sản xuất, điều
                                                này
                                                không có gì ngạc nhiên khi nó như khung máy XPS được lắp vào. Kích
                                                thước là
                                                357 x 235 x 16,8 mm&nbsp;và trọng lượng là 1,78 kg. Vì đi với thiết
                                                kế viền
                                                siêu mỏng InfinityEdge nên Precision 5530 sẽ không có chỗ cho webcam
                                                bên
                                                trên. Ngược lại, webcam sẽ được đặt ở phía dưới, mặc dù hình ảnh thu
                                                được
                                                vẫn rõ ràng, mọi người sẽ nhìn bạn từ phía dưới cằm lên.
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Viền
                                                    màn vô
                                                    cực, hiển thị tỉ màu
                                                </strong><br>
                                                Bằng việc thu nhỏ viền màn hình đến mức chỉ còn 4mm, màn hình 14
                                                inch nay đã
                                                có thể hiển thị đến 15.6 inch. Với độ phân giải lên tới 4K UHD, Dell
                                                Precision có độ bao phủ màu sắc lên tới 98% sRGB và 69% AdobeRGB,
                                                rất thích
                                                hợp cho những nhà thiết kế dồ họa, chỉnh sửa video hay tinh chỉnh
                                                màu sắc.
                                                Hơn nữa, công nghệ IGZO trên Dell Precision 5530 còn hỗ trợ hiển thị
                                                tới một
                                                tỷ màu sắc, giúp cho những hình ảnh sẽ được hiển thị một các sắc
                                                nét, sống
                                                động và chân thực tới từng chi tiết. Điều này hứa hẹn sẽ mang đến
                                                cho bạn
                                                những giây phút xem phim hay chơi game vô cùng sảng khoái.
                                            </span>
                                        </p>

                                        <!-- Hình ảnh 2 -->
                                        <div style="text-align: justify;">
                                            <p style="text-align:center">
                                                <img alt="" height="600"
                                                     src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093052542.png"
                                                     width="800" class=" lazyloaded"
                                                     data-src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093052542.png">
                                            </p>
                                        </div>


                                        <!-- Bàn phím -->
                                        <div style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Bàn
                                                    phím
                                                    Dell Precision 5530
                                                </strong><br>
                                                Một trong những chi tiết mà chúng ta không thể bỏ qua của thương
                                                hiệu Dell
                                                chính là bàn phím. Tuy không được cải thiện nhiều nhưng khi mở chiếc
                                                laptop
                                                Dell Precision 5530 ra, bạn sẽ được chiêm ngưỡng một bàn phím vô
                                                cùng bắt
                                                mắt, thu hút. Sau nhiều lần cải thiện, chăm chút bàn phím bạn có thể
                                                cảm
                                                nhận được hành trình di chuyển trên các nút ngắn hơn, tiết kiệm giúp
                                                bạn di
                                                chuyển nhanh hơn .&nbsp;
                                            </span>

                                            <!-- Hình ảnh 3 -->
                                            <p style="text-align:center">
                                                <img alt="" height="600"
                                                     src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093142343.png"
                                                     width="800" class=" lazyloaded"
                                                     data-src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093142343.png">
                                            </p>
                                        </div>

                                        <p style="text-align: justify;">&nbsp;</p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Không chỉ thế
                                                sản phẩm
                                                còn có hệ thống hỗ trợ đánh máy đêm giúp bạn có thể đánh máy một
                                                cách dễ
                                                dàng, thuận lợi hơn. Ngoài ra, khi làm việc khuya hoặc những nơi có
                                                nhiều
                                                người bạn sẽ không cần phải lo lắng, sợ làm phiền đến người xung
                                                quanh bởi
                                                khả năng giảm tiếng ồn của Precision 5530 khá là tốt.Giờ đây bạn có
                                                thể yên
                                                tâm làm việc mà không phải lo lắng rồi.
                                            </span>
                                        </p>

                                        <!-- Touchpad -->
                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Trong khi đó,
                                                Touchpad
                                                lại gây nhiều sự chú ý về độ mềm mượt, linh hoạt khi di chuyển của
                                                mình.
                                                Theo nhiều chuyên gia thì khi đặt tay lên Touchpad Precision 5530 sẽ
                                                mang
                                                lại cho bạn cảm giác rất thích thú, tạo ra cảm hứng, cảm xúc vô cùng
                                                mới lạ.
                                                Thêm vào đó, tuy không được đánh giá là quá rộng rãi nhưng Touchpad
                                                của Dell
                                                Precision 5530 cũng khá rộng rãi khi bạn có thể đặt bàn tay của mình
                                                vào
                                                đó.
                                            </span>
                                        </p>


                                        <!-- Hiệu năng -->
                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Hiệu
                                                    năng
                                                </strong>
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Cấu hình
                                                Precision
                                                5530 là một cỗ máy mơ ước của đa nhiệm, hỗ trợ CPU Intel Core
                                                i7-8850H thế
                                                hệ 8 và Xeon E-2176M tốc độ tối đa lên đến 4.40GHz bao gồm cả Intel
                                                Core i9
                                                đầu tiên của Dell trong một máy trạm di động, cung cấp năng lượng
                                                tốt nhất
                                                cho hiệu suất tối đa nhất, ngay cả các phần mềm chuyên nghiệp đòi
                                                hỏi khắt
                                                khe về phần cứng.
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                CPU được tích
                                                hợp trên
                                                Dell Precision 5530 - Intel Core i7 thế hệ thứ 8 i7-8850H (6 lõi 12
                                                luồng)
                                                với xung nhịp có thể lên tới 4.3GHz - là một bộ vi xử lý rất mạnh có
                                                thể
                                                giúp bạn xử lý nhiều tác vụ nặng cùng một lúc mà không lo giật lag.
                                                Máy còn
                                                được trang bị card đồ họa nVIDIA Quadro P1000 4GB GDDR5 có khả năng
                                                xuất
                                                những hình ảnh vô cùng đẹp và sắc nét, có thể xử lý nhiều phần mềm
                                                đồ họa
                                                hay cân hầu hết các tựa game hiện này, thậm chí cả những game yêu
                                                cầu đồ họa
                                                rất nặng. Không những thế, chiếc card đồ họa này được chế tạo dựa
                                                trên cấu
                                                trúc Pascal, có khả năng hỗ trợ Virtual Reality (thực tế ảo), phù
                                                hợp cho
                                                những bạn theo đuổi ngành này. Ngoài ra có thể nâng cấp lên card đồ
                                                họa
                                                nVIDIA Quadro P2000 4GB GDDR5 cho sức mạnh vượt trội
                                                hơn.&nbsp;
                                            </span>
                                        </p>

                                        <!-- Hình ảnh 4 -->
                                        <div style="text-align: justify;">
                                            <p style="text-align:center">
                                                <img alt="" height="600"
                                                     src="cdn/themes/metavn/img/loading_background.png" width="800"
                                                     class=" lazyload"
                                                     data-src="https://ngocnguyen.vn/cdn/upload/files/thiet-ke-chua-co-ten-2023-11-03t093227585(1).png">
                                            </p>
                                        </div>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Tăng tốc quy
                                                trình
                                                công việc với bộ nhớ Ram 8GB DDR4 2666 MHz có thể nâng cấp lên tới
                                                32GB.&nbsp;
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Truy cập,
                                                chuyển và
                                                lưu trữ các tệp 3D, video và đa phương tiện lớn một cách nhanh chóng
                                                và dễ
                                                dàng với dung lượng lưu trữ SSD 256GB có thể nâng cấp lên đến 3TB.
                                                Một kỳ
                                                công hiếm thấy trên các máy trạm di động với khung mỏng và nhẹ như
                                                vậy.&nbsp;
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Hệ
                                                    thống làm
                                                    mát
                                                </strong>của Precision 5530 này có quạt kép, được thiết kế
                                                để cải
                                                thiện luồng không khí và giữ cho hệ thống của bạn mát mẻ dưới khối
                                                lượng
                                                công việc nặng.
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Khởi
                                                    động
                                                    nhanh hơn bao giờ hết:
                                                </strong> Khởi chạy các tệp và ứng dụng
                                                được sử
                                                dụng nhiều nhất của bạn trong nháy mắt với bộ nhớ Intel® Optane ™
                                                tùy chọn.
                                                Thích ứng với nhu cầu của người dùng, nó tải trước và tăng tốc các
                                                ứng dụng
                                                và tệp thường xuyên sử dụng, cung cấp khả năng đáp ứng tốt hơn mà
                                                không ảnh
                                                hưởng đến dung lượng lưu trữ. Các tác vụ hàng ngày đáp ứng nhanh gấp
                                                đôi với
                                                bộ nhớ Intel® Optane ™.
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;"><strong>Pin</strong></span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                Bạn sẽ không
                                                cần phải
                                                mang theo cáp nguồn của Precision 5530 cho mỗi khi&nbsp;ngồi cafe
                                                với đồng
                                                nghiệp.&nbsp;Máy trạm này kéo dài thời gian sử dụng liên tục lên đến
                                                6h
                                                liền&nbsp;(duyệt web liên tục qua Wi-Fi) chỉ đối với option màn hình
                                                FHD
                                                (option pin 97Wh). Mặt khác nếu là 1 option màn hình 4K cảm ứng thì
                                                thời
                                                lượng pin sẽ hao hụt nhanh hơn vì nó phải tiêu khá nhiều năng lượng
                                                cho tấm
                                                nền cảm ứng.
                                            </span>
                                        </p>

                                        <p style="text-align: justify;">
                                            <span style="font-size:14px;">
                                                <strong>
                                                    Tóm
                                                    lại:
                                                </strong>&nbsp;Không có nhiều nhược điểm cho 1 chiếc máy
                                                tính xách
                                                tay quá hoàn hảo này.&nbsp;Tất nhiên,&nbsp;giá có thể tăng cao khi
                                                bạn định
                                                cấu hình với thông số kỹ thuật mạnh nhất.
                                            </span>
                                        </p>
                                    </div>
                                    <div class="view-more">
                                        <p id="btn-viewmore">
                                            <span id="view1">
                                                Đọc thêm
                                            </span><!-- <span id="view2" class="hidden">Thu gọn </span> -->
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
            <div>
                <a href="/" type="btn" class="btn btn-outline-success mb-4">
                    <i class="fa-solid fa-chevron-left"></i>
                    Back to List
                </a>
            </div>
            <!--end back-->
        </div>

        <!-- ================================================================================== -->
        <!-- ================================================================================== -->
        <!-- ================================================================================== -->

    </main>
</section>

@* <h2>Chi tiết sản phẩm</h2>
<div class="row">
    <hr />
    <div class="col-md-6">
        <h4>ProductDetail</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CPU)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CPU)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RAM)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RAM)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Storage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Storage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Display)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Display)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GraphicsCard)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GraphicsCard)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OperatingSystem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryLife)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryLife)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Warranty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Warranty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="@Model.Product.MainImageUrl" alt="Product Image" class="img-fluid" width="250px" />
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" asp-route-area="">Back to List</a>
</div>
 *@
