@model IEnumerable<Website_Selling_Computer.Models.Manufacturer>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index"; Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfo)
            </th>
            <th>
                <p>Ảnh NSX</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>
            <td>
                <a href="@item.ContactInfo">@item.ContactInfo</a>
            </td>
            <td>
                    @{
                        switch (item.ManufacturerID)
                        {
                            case 1:
                                <img src="~/manufacturerPictures/dell.png" width="69px"/>
                                break;
                            case 2:
                                <img src="~/manufacturerPictures/hp.png" width="69px" />
                                break;
                            case 3:
                                <img src="~/manufacturerPictures/lenovo.png" width="69px" />
                                break;
                            case 4:
                                <img src="~/manufacturerPictures/acer.png" width="69px" />
                                break;
                            case 5:
                                <img src="~/manufacturerPictures/asus.png" width="69px" />
                                break;
                            case 6:
                                <img src="~/manufacturerPictures/icons8-msi-48.png" width="69px" />
                                break;
                        }
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManufacturerID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ManufacturerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
