@model IEnumerable<Website_Selling_Computer.Models.ProductCategory>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index"; Layout = "_Layout";

}

<h1>Quản lý danh mục</h1>

<p>
    <a asp-action="Create">Thêm danh mục mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Chỉnh sửa danh mục</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">Chi tiết danh mục</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Xóa danh mục</a>
            </td>
        </tr>
}
    </tbody>
</table>
