@model Cart
@using Website_Selling_Computer.Models
@using Website_Selling_Computer.DataAccess
@using Website_Selling_Computer.Session
@{
    ViewData["Title"] = "Index";
    decimal total = Model.Items.Sum(item => item.Price * item.Quantity);
    int totalQuantity = Model.Items.Sum(item => item.Quantity);
}

@* <style>
@@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#duynhat1{
        *

    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #f4f4f4;
    }

    .wrapper {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
    }

    .h3 {
        margin-bottom: 0;
    }

    div.text-uppercase {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }

    .btn#sub {
        font-size: 0.8rem;
        font-weight: 700;
        border: 1px solid #ddd;
    }

        .btn#sub:hover {
            background-color: #333;
            color: #FFF;
            border: 1px solid #333;
        }

    .fa-cog {
        color: #a8a8a8;
        font-size: 0.8rem;
    }

    .ml-auto.btn:hover span {
        color: #333;
    }

    div.btn {
        padding: 8px 20px;
    }

    .notification {
        background-color: #54e346;
        padding: 0px 10px;
    }

        .notification button.btn {
            background-color: inherit;
            box-shadow: none;
        }

    .close {
        font-size: 1rem;
        font-weight: normal;
        opacity: 1;
    }

        .close:hover {
            color: #EEE;
        }

    .alert-dismissible .close {
        position: unset;
    }

    button:focus {
        outline: none;
    }

    .h4 {
        margin: 0;
    }

    .editors {
        position: relative;
    }

        .editors img {
            object-fit: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 5px solid #FFF;
        }

    #img1, #img2, #img3 {
        position: absolute;
    }

    #img1 {
        top: -15px;
        left: -50px;
    }

    #img2 {
        top: -15px;
        left: -70px;
    }

    #img3 {
        top: -15px;
        left: -90px;
    }

    div.text-muted {
        font-size: 0.9rem;
    }

    .table {
        overflow: hidden;
    }

        .table thead tr th {
            letter-spacing: 0.08rem;
            font-weight: normal;
        }

        .table tr td,
        .table tr th {
            border: none;
            text-align: center;
        }

        .table.activitites thead {
            border-bottom: 1px solid #54e346;
            font-size: 0.8rem;
            font-weight: 700;
        }

        .table thead {
            font-size: 0.8rem;
            font-weight: 700;
        }

        .table.activitites {
            position: relative;
        }

            .table.activitites thead::after {
                position: absolute;
                content: "RECENT ACTIVITIES";
                background: #FFF;
                padding: 0px 8px;
                top: 38px;
                letter-spacing: 0.08rem;
                font-size: 0.6rem;
                color: #54e346;
                font-weight: 600;
            }

        .table tbody td.item {
            font-family: 'Dancing Script', cursive;
            font-size: 1.2rem;
            font-weight: 900;
            text-align: left;
        }

    del {
        font-size: 0.85rem;
    }

    .red {
        color: #ff0000;
    }

    div.new {
        font-size: 0.7rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        letter-spacing: 0.08rem;
        background-color: #c7fdc3;
        color: #0e7504;
        display: inline-block;
    }

    .table tbody td.item img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .table thead th.header {
        text-align: left;
    }

    .table tbody tr {
        padding-top: 10px;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        transition: all .4s ease-in-out;
    }

        .table tbody tr:last-child {
            border: none;
        }

    td .close,
    td .btn {
        opacity: 0;
        background: #fff;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .table tbody tr:hover {
        transform: scale(1.004);
        box-shadow: 2px 2px 10px #a5a5a5;
        cursor: pointer;
        overflow: hidden;
        scroll-behavior: unset;
    }

        .table tbody tr:hover .close {
            font-size: 1.5rem;
            opacity: 1;
        }

            .table tbody tr:hover .close:hover {
                color: #aaa;
            }

        .table tbody tr:hover .btn {
            border: 1px solid #ddd;
            opacity: 1;
            background: #fff;
        }

    a {
        font-size: 0.8rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        visibility: hidden;
    }

        a:hover {
            text-decoration: none;
        }

    .table tbody tr:hover a {
        visibility: visible;
    }

    #commentor2, #commentor3 {
        position: absolute;
        object-fit: cover;
    }

    #commentor1 {
        object-fit: cover;
    }

    #commentor2 {
        top: 2px;
        left: 20px;
    }

    #commentor3 {
        top: 2px;
        left: 35px;
    }

    .comments {
        visibility: visible;
    }

    hr.items {
        position: relative;
        margin: 0;
        margin-top: 10px;
    }

        hr.items:after {
            position: absolute;
            content: "ALL ITEMS";
            background: #FFF;
            top: -9px;
            padding: 0px 8px;
            letter-spacing: 0.08rem;
            font-size: 0.6rem;
            font-weight: 600;
        }

    .subtotal {
        border-bottom-left-radius: 50px;
        background-color: #ccc;
    }

    .tag, .fa-shoppping-cart {
        font-size: 0.5rem;
    }

    button.btn {
        background-color: inherit;
    }

        button.btn:hover {
            background-color: #cecccc;
            box-shadow: none;
            outline: none;
        }
} *@

 @* </style>
<div id="duynhat1">
    <div class="wrapper">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <div class="h3">Giỏ hàng</div>
                <div class="text-uppercase">@totalQuantity món</div>
            </div>       <div class="ml-auto btn"><span class="fas fa-cog"></span></div> 
            <a href="/Home/Index">
                <div class="btn" id="sub">
                    + Thêm hàng
                </div>
            </a>

        </div>

        <div id="table" class="bg-white rounded">
            <hr>
            <div class="table-responsive">
                <table class="table activitites">
                    <thead>
                        <tr>
                            <th scope="col" class="text-uppercase header">Mặt hàng</th>
                            <th scope="col" class="text-uppercase">Số lượng</th>
                            <th scope="col" class="text-uppercase">Đơn giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                            @item.ProductName
                                </td>
                                <td>
                                        <div class="d-flex align-items-center">
                                            @if (item.Quantity > 1)
                                            {
                                                <form asp-controller="Cart" asp-action="Decrease" method="post">
                                                    <input type="hidden" name="productId" value="@item.ProductID" />
                                                    <button type="submit" class="btn btn-sm btn-secondary">-</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form asp-action="RemoveFromCart" asp-route-productId="@item.ProductID" method="post">
                                                    <button type="submit" class="btn btn-sm btn-secondary">-</button>
                                                </form>
                                            }
                                            <div class="mx-2">
                                                <h5 class="fw-normal mb-0">@item.Quantity</h5>
                                            </div>
                                            <form asp-controller="Cart" asp-action="Increase" method="post">
                                                <input type="hidden" name="productId" value="@item.ProductID" />
                                                <button type="submit" class="btn btn-sm btn-primary">+</button>
                                            </form>
                                        </div>
                                </td>
                                <td class="font-weight-bold">
                                    @item.Price.ToString("#,##0") Vnđ
                                    <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductID" class="btn btn-edit"><i class="fa fa-trash-o"></i></a>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-end align-items-end">
                <div class="d-flex px-3 pr-md-5 py-1 subtotal">
                    <div class="px-4">Tổng tiền</div>
                    <div class="h5 font-weight-bold px-md-2">@total</div>
                </div>
                @if (totalQuantity != 0)
                {
                    <a asp-action="Checkout">
                    <div class="text-muted tag">
                        Đặt hàng <span class="fas fa-shopping-cart pl-1"></span>
                    </div>
                </a>
                }
                
                
            </div>
        </div>
    </div>

</div> *@


<div class="wrapper">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <div class="h3">Giỏ hàng</div>
            <div class="text-uppercase">@totalQuantity món</div>
        <a href="/Home/Index">
            <div class="btn" id="sub">
                + Thêm hàng
            </div>
        </a>

    </div>
</div>
<br />
<section>
    @foreach (var item in Model.Items)
    {
        <br />
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-3">
                            <h5>@item.ProductName</h5>
                            <p class="small mb-0">@item.ProductCategoryDescription</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div style="width: 300px;">
                            <div class="d-flex align-items-center"> 
                                @if (item.Quantity > 1)
                                {
                                    <form asp-controller="Cart" asp-action="Decrease" method="post">
                                        <input type="hidden" name="productId" value="@item.ProductID" />
                                        <button type="submit" class="btn btn-sm btn-secondary">-</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="RemoveFromCart" asp-route-productId="@item.ProductID" method="post">
                                        <button type="submit" class="btn btn-sm btn-secondary">-</button>
                                    </form>
                                }
                                <div class="mx-2">
                                    <h5 class="fw-normal mb-0">@item.Quantity</h5>
                                </div>
                                <form asp-controller="Cart" asp-action="Increase" method="post">
                                    <input type="hidden" name="productId" value="@item.ProductID" />
                                    <button type="submit" class="btn btn-sm btn-primary">+</button>
                                </form>
                            </div>
                        </div>
                        <div style="width: 200px;">
                            <h5 class="mb-0">@item.Price.ToString("#,##0") Vnđ</h5>
                        </div>
                        <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductID" class="btn btn-edit"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
        <a asp-action="ViewingOrderHistory" asp-controller="Cart" class="btn btn-edit">Xem lịch sử đặt hàng</a>
    @if (Model.Items.Count == 0)
    {
        <div>
            <a asp-action="Index" asp-controller="Home" class="btn btn-edit">Trở về</a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Checkout" class="btn btn-edit"><i class="fa-solid fa-check" aria-hidden="true"></i></a>
        </div>
    }
</section>
