@model IEnumerable<Website_Selling_Computer.Models.Order>
@using Website_Selling_Computer.Models
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "ViewingOrderHistory";
    DateTime now = DateTime.Today;
}
<h1>ViewingOrderHistory: </h1>
@foreach(var item in Model)
{
    <p>Tên: @item.User.LastName @item.User.FirstName </p>
    <p>Email: @item.User.Email</p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.OrderID</td>
                <td>@item.OrderDate</td>
                <td>@item.TotalAmount</td>
                <td>@item.ShippingAddress</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> 
                    @if ((now - item.OrderDate.Date).Days <= 10)
                    {
                        <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
