@model IEnumerable<Website_Selling_Computer.Models.Order>
@using Website_Selling_Computer.Models
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "ViewingOrderHistory";
    DateTime now = DateTime.Today;
}
<h1>Lịch sử đặt hàng: </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Tổng giá trị
            </th>
            <th>
                Địa chỉ giao hàng
            </th>
            <th>
                Phương thức thanh toán
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.OrderDate</td>
                <td>@item.TotalAmount</td>
                <td>@item.ShippingAddress</td>
                <td>@item.PaymentMethod.Description</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderID">Chi tiết</a> 
                    @if ((now - item.OrderDate.Date).Days <= 10)
                    {
                        <a asp-action="Delete" asp-route-id="@item.OrderID">Xóa</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
